<h2>Add Players To <%= @ensemble.name %></h2>

<form action="/ensembles/<%=@ensemble.id%>/add_to" method="post">
  <% @players.each do |a| %>
    <%= a.name %><input id="<%=a.name%>" type="checkbox" id="<%=a.name%>" name="adding[]" value="<%=a.id%>"><br>
  <% end %>
  <button type="submit" value="submit">submit</button>
</form>